
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body text-center">
        <h4>Kontakt</h4>
        <div>
            Przemysław Kulasek<br />
        </div>
    </div>
</div>


